@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*___________________________

    Banner Section Styles
_____________________________ */

.container {
    margin-bottom: 140px;
}

.banner {
    margin: 20px 40px;
}

.bg-img {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../assets/images/Banner-image.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner .text {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .text p {
    padding-top: 177px;
    padding-bottom: 17px;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner .text h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
}

/*___________________________

    Offer Section Style
_____________________________ */

.offer-box {
    text-align: center;
    margin-top: 140px;
}

.offer-text h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.offer-text h5 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.offer-text p {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

/*___________________________

    Party Section Style
_____________________________ */

.party {
    margin-bottom: 120px;
}

.party .bg-img {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../assets/images/midnight-party.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 120px;
}

.bg-img .party-element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 126px;
}

.party-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.party-text a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: 0.3s;
}

.party-text a:hover {
    color: #F00;
}

/*___________________________

    Portfolio Section Style
_____________________________ */

.portfolio {
    margin-bottom: 120px;
}

.portfolio-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.portfolio-text strong {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 48px;
}

.gifts-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.img-set {
    flex: 1 0 33.33%;
    padding: 5px;
}

.gifts-img img {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.gifts-img img:hover {
    transform: scale(1.1);
}

/*___________________________

    Subscribe Section Style
_____________________________ */

.subscribe {
    text-align: center;
    margin-bottom: 120px;
    flex-shrink: 0;
}

.bg-color {
    background: #fff2f2;
}

.subscribe .img {
    padding: 80px 0 40px;
}

.subscribe-text {
    text-align: center;
}

.subscribe-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscribe-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;

    margin-bottom: 48px;
}

.subscribe-text label {
    position: relative;
}

.subscribe-text input {
    border: none;
    width: 400px;
    padding: 15px;
    border-radius: 50px 0px 0px 50px;
    margin-bottom: 48px;
}

.subscribe-text button {
    position: absolute;
    border: none;
    padding: 15px;
    background: #F00;
    color: #FFF;
    border-radius: 0px 50px 50px 0px;
}

/*___________________________

    Footer Section Style
_____________________________ */

.footer {
    background-color: #070211;
    color: #fff;
    margin-bottom: 300px;
}

.address {
    display: flex;
    gap: 500px;
    justify-content: space-around;
    padding: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.right-address a{
    text-decoration: none;
    color: #fff;
}

.logo{
    padding: 40px 0 40px;
    text-align: center;
    margin: 98px 0 98px;
}

.logo a{
    padding: 10px;
}